[Desktop Entry]
Name=PaintFE
GenericName=Image Editor
Comment=Fast, GPU-accelerated raster image editor
Exec=PaintFE %F
Icon=io.github.paintfe.PaintFE
Type=Application
Categories=Graphics;RasterGraphics;2DGraphics;
MimeType=image/png;image/jpeg;image/webp;image/bmp;image/tiff;image/gif;image/x-paintnet;
Keywords=paint;image;editor;photo;raster;
StartupNotify=true
StartupWMClass=PaintFE
